.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.lightblue {
    background-color: lightblue;
}

.bold {
    font-weight: bold;
}